body{
			background-color:#1a1a1a;
			width:100%;
			padding: 0em;
			margin: 0em;
			font-family:helvetica;
}
.navbar {
    letter-spacing: 4px;
    background-color: white;
    color: orange;
    min-height: 80px;
}

.navbar-header button {
    margin: 0;
    padding: 24px;
}

.navbar li {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .navbar-collapse {
        margin-top: 25px;
    }
}

.navbar li a,
.navbar .navbar-brand {
    color: black;
    font-size: 16px;
    line-height: 3;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}


/* The active link */

.navbar-nav li.active a {
    color: #000000 !important;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}


/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
    background-color: rgb(83, 81, 81) !important;
    color: white !important;
}

.readmore {
    color: rgb(93, 93, 241);
}

.navbar-toggle .icon-bar {
    color: blue;
    border-color: transparent;
}

.nav li a {
    margin: 0px 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .nav li a {
        margin: 0px;
    }
    .navbar-nav>li>a {
        padding: 15px 10px;
    }
}

.navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}

		  
		.sponsors{
			width:100%;
			background-color: #1a1a1a;
			margin:20px auto 0;
			justify-content: center;
			margin-top: -3.8em;
			margin-left: -1em;
			margin-right: -2em;
			margin-bottom: -2em;
		}
		
		.sponsors h3{
			color:#fc2b2b;
			font-size: 2.5em;
			font-weight: 900;
			text-align: center;
		}
		
		.my_box{
			display:flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
		.my_box img{
			padding-right: 5em;
			padding-left: 5em;
		}
		.my_box img:hover{
			opacity: 0.5;
		}
		.my_container{
			position: relative;
			animation-name: fading;
			animation-duration: 1s;
			animation-iteration-count: 1;
			animation-timing-function: ease-in-out;
		}
		@keyframes fading {
  0% {
  opacity:0;
}
45% {
opacity:0.3;
}
55% {
opacity:0.5;
}
100% {
opacity:1;
}
}
		.imaga{
			opacity: 1;
			transition: .5s ease;
			backface-visibility: hidden;
			padding-right: 9em;
			margin: 20px auto 0;
			padding-bottom: 0.8em;
			//transform: rotateY(180deg);
		}
		.overlay{
			position: absolute;
			transition: .5s ease;
			top: 50%;
			left:50%;
			opacity: 0;
			transform: translate(-50%,-50%);
			-ms-transform:translate(-50%,-50%);
		}
		.my_container:hover .imaga{
			opacity: 0.2;
		}
		.our_sponsors
		{
		  	color:#1a1a1a;
		  	padding-top: 2em;
		  	padding-bottom: 1.5em;
		  	text-align: center;
		  	font-weight: 900;
		  	font-size: 4.5em;
		}
		.our_sponsors .letter 
		{
			margin-top: 30px;
		  	font-family: helvetica;
		  	color:#fc2b2b;
		  	display: inline-block;
		  	line-height: 1em;
		}
		.my_container:hover .overlay{
			opacity: 1;
		}
		.text{
			color: #ffffff;
			font-size: 20px;
		}


		/* footer start */

.footer-container
{
    position: relative;
    height: fit-content;
    text-align: center;
    padding-top: 0;
    color: #fff;
    background-color: #1a1a1a;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 45px;
    font-size: medium;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}

.footer2 {
    margin-top: 5px;
    padding: 10px 50px;
    background: rgb(24, 24, 24);
    color: aliceblue;
    display: flex;
    width: 100%;
    padding: 10px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}

.social{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    size: 2em;
}
a
{
color: #ffffff;
}

a:hover{
  color:#FC2B2B;
  text-decoration: none;
}

/* footer end */

body::-webkit-scrollbar {
    width: 1.2rem;
  
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #FC2B2B;
      border-radius: 20px;
  }
