* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 7rem;
    background-color: #1a1a1a;
}


/* navbar css */

.navbar {
    letter-spacing: 4px;
    background-color: white;
    color: orange;
    min-height: 80px;
}

.navbar-header button {
    margin: 0;
    padding: 24px;
}

.navbar li {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 425px) {
    .navbar-collapse {
        margin-top: 25px;
    }
}

.navbar li a,
.navbar .navbar-brand {
    color: black;
    font-size: 16px;
    line-height: 3;
}

.navbar-nav li a:hover {
    color: #000000 !important;
}


/* The active link */

.navbar-nav li.active a {
    color: #000000 !important;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}


/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
    background-color: rgb(83, 81, 81) !important;
    color: white !important;
}

.readmore {
    color: rgb(93, 93, 241);
}

.navbar-toggle .icon-bar {
    color: blue;
    border-color: transparent;
}

.nav li a {
    margin: 0px 10px;
}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .nav li a {
        margin: 0px;
    }
    .navbar-nav>li>a {
        padding: 15px 10px;
    }
}

.navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}


/**/

.page-body {
    width: 96.5%;
}


/*Faqs*/

.faq-wrapper {
    background-color: #1a1a1a;
    margin: 50px 0 i !important;
    width: 100%;
    padding-bottom: 20px;
}

.faq-heading-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
}

.faq-image {
    opacity: 0.5;
}

#faq-heading {
    text-align: center;
    color: #ffffff;
    font-size: calc(100% + 2vw + 2vh);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion-item,
.accordion-header {
    background-color: transparent !important;
    border: none;
    padding: 0 !important;
    margin-bottom: 0.1rem !important;
}

.accordion-item {
    box-shadow: 0 0.3rem 0.3rem 2px #fc2b2b;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.accordion-button {
    width: 100%;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    background-color: #1a1a1a;
    padding: 0.3rem;
}

.accordion-body {
    text-align: left;
    background-color: #ffffff;
    padding: 0.5rem;
}

.accordion-button:after {
    content: '\2212';
    width: 10%;
    text-align: center;
    right: 1rem;
    float: right;
}

.accordion-button.collapsed:after {
    content: '\002B';
}

.accordion-button[aria-expanded="true"] {
    color: #fc2b2b;
}


/**/

hr {
    height: 1px;
    width: 100%;
    background-color: #fc2b2b;
    border-top: 1px #fc2b2b;
}


/* contact us */

.contact-heading {
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
}

p {
    color: #ffffff;
    font-size: 2rem;
    font-family: sans-serif;
}

.o {
    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 600;
    color: #fc2b2b;
    margin: -1rem 0 1.2rem 0;
}

.form {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 3rem;
    border-radius: 1.5rem;
    margin: 1rem;
    text-align: left;
    box-shadow: 0 0.2rem 10px #ffffff;
}

.btn {
    display: block;
    text-decoration: none;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #fc2b2b;
    color: #1a1a1a;
    transition: .5s;
    font-size: 2.5rem;
    font-family: sans-serif;
    border-radius: 2rem;
}

.form__fields .form-field {
    width: 100%;
    margin: 0.5rem 0;
    border: 0.25rem solid #fc2b2b;
    font-size: 1remrem;
    outline: none;
    font-family: sans-serif;
}

.form__fields .text-field {
    padding: 0.5rem 0.5rem;
}

.form__fields .text-field:focus::placeholder {
    transform: translateY(-150%);
}

.form__fields ::placeholder {
    transition: all .4s;
    font-size: 1.3rem;
    font-weight: .85rem;
    color: #1a1a1a;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}

.bold {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 3px;
}

.title {
    font-weight: 900;
    color: red;
}

ul li {
    font-size: 0.85em;
    list-style-type: none;
    color: aliceblue;
}

.three ul li a {
    color: aliceblue;
}

.one,
.three {
    padding: 10px 20px;
}

ul li a:hover {
    text-decoration: none;
    color: #fc2b2b;
}

@media(max-width:720px) {
    .flex-container,
    footer {
        flex-direction: column;
        text-align: center;
    }
    .bold {
        text-align: center;
    }
}

.copy-right {
    font-size: 1.2rem;
}

h4 {
    font-size: 2.5rem;
}


/* footer start */

.footer-container
{
    position: relative;
    height: fit-content;
    text-align: center;
    padding-top: 0;
    color: #fff;
    background-color: #1a1a1a;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding: 45px;
    font-size: medium;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}

.footer2 {
    margin-top: 5px;
    padding: 10px 50px;
    background: rgb(24, 24, 24);
    color: aliceblue;
    display: flex;
    width: 100%;
    padding: 10px 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
}

.social{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    size: 2em;
}
a
{
color: #ffffff;
}

a:hover{
  color:#FC2B2B;
  text-decoration: none;
}

/* footer end */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: red;
}

 ::-webkit-scrollbar-thumb:hover {
    background: red;
}
