* {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    padding: 45px;
    font-size: medium;
  }
  
  li {
    display: inline-block;
    padding-right: 40px;
  }
  
  .carousel-inner img {
    width: 100%;
    max-height: 550px !important;
  }
  
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 5px;
  }
  
  /* navbar css */
  .navbar {
    letter-spacing: 4px;
    background-color: white;
    color: orange;
    min-height: 80px;
  }
  
  .navbar-header button {
    margin: 0;
    padding: 24px;
  }
  
  .navbar li {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 425px) {
    .navbar-collapse {
      margin-top: 25px;
    }
  }
  .navbar li a,
  .navbar .navbar-brand {
    color: black;
    font-size: 16px;
    line-height: 3;
  }
  
  .navbar-nav li a:hover {
    color: #000000 !important;
  }
  
  /* The active link */
  .navbar-nav li.active a {
    color: #000000 !important;
   
  }
  
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  
  /* On hover, the dropdown links will turn red */
  .dropdown-menu li a:hover {
    background-color: rgb(83, 81, 81) !important;
    color: white !important;
  }
  
  .readmore {
    color: rgb(93, 93, 241);
  }
  
  .navbar-toggle .icon-bar {
    color: blue;
    border-color: transparent;
  }
  
  .nav li a {
    margin: 0px 10px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1024px) {
    .nav li a {
      margin: 0px;
    }
    .navbar-nav > li > a {
      padding: 15px 10px;
    }
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
  }

  /**/
  
  /*image*/
  .person {
    display: inline-block;
    border: 5px solid;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    transition: all 0.3s ease-in;
  }
  
  .person:hover {
    -webkit-box-shadow: -1px 9px 40px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px 12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
  }
  
  /* btn */
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .tags:hover {
    -webkit-box-shadow: -1px 9px 40px 12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px 12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
  }
  
  .tags {
    width: 50%;
  }
  
  .logo {
    position: absolute;
    width: 40px;
    height: 37px;
    top: 10px;
    overflow: hidden;
  }
  .carousel .item {
    height: 90vh;
  }
  
  .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height:100vh;
  }
  
  @media (max-width: 425px) {
      .carousel-indicators li {
    padding-right: 9px;
  }
    .carousel .item {
      height: 50vh;
    }
    .item img {
      min-height: 50vh;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
      display: none !important;
    }
  }
  .carousel {
    margin-top: 80px;
  }
  @media screen and (max-width: 768px) {
    .carousel {
      margin-top: 57px;
    }
  }
  
  .container-wrapper {
    background: url(./images/mic1-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .container {
    position: relative;
    height: fit-content;
    text-align: center;
    padding-top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
  }
  
  @media screen and (max-width: 425px) {
    .container {
      padding: 20px;
    }
  }
  @media screen and (max-width: 375px) {
    .container {
      padding: 10px;
    }
  }
  .container img:nth-last-child(n + 3) {
    display: inline-block;
    height: 250px;
  }
  @media screen and (max-width: 425px) {
    .container img {
      height: 200px;
    }
  }
  .container .p1 {
    font-size: 25px;
    font-weight: 700;
    font-family: monospace;
  }
  .container .p2 {
    line-height: 1.7;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    color: white;
    width: 100%;
    font-family: monospace;
  }
  @media screen and (max-width: 425px) {
    .container .p1 {
      font-size: 22px;
    }
    .container .p2 {
      font-size: 18px;
    }
    .mx-auto img {
      height: 250px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .container .p1 {
      font-size: 20px;
    }
    .container .p2 {
      font-size: 17px;
    }
    .mx-auto img {
      height: 200px;
    }
    .container img:nth-last-child(n + 3) {
      width: 100%;
    }
  }
  
  /* flip card */
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
  
    /* box-shadow: 0px 7px 20px #888888; */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flip-card-front {
    background-color: rgb(164, 186, 226);
    color: black;
    width: 300px;
    height: 300px;
  }
  
  .flip-card-back {
    background-color: rgb(164, 186, 226);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
  }
  .card-wrapper {
    background: url(./images/mic3.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .card {
    padding: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.808);
  }
  .card-wrapper h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    color: white;
  }
  .row {
    margin-bottom: 50p;
    margin-top: 30px;
  }
  .mx-auto a {
    color: #696969;
  }
  
  footer {
    position: relative;
  }
  .blink-1 {
    position: absolute;
    bottom: 0;
    left: -10%;
    height: 120px;
    animation: move 20s linear infinite;
  }
  .blink {
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 120px;
    animation: move1 20s linear infinite;
  }
  @keyframes move {
    50% {
      left: 40%;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes move1 {
    50% {
      left: 40%;
    }
    100% {
      left: -10%;
    }
  }
  
  @media screen and (max-width: 425px) {
    .blink-1 {
      height: 100px;
    }
    .blink {
      height: 100px;
    }
  }
  
  .internship {
    position: fixed;
    bottom: 5%;
    right: 1%;
    transition: all 0.3s;
    z-index: 100;
  }
  .internship button {
    padding: 1rem 2rem;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0.5rem 1.5rem #000;
  }
  .internship:hover {
    transform: scale(1.1);
  }
  
  .internship a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
  }
  
  @media screen and (max-width:425px){
      .internship button{
          padding:1rem;
      }
      .internship a {
          font-size:1.5rem;
      }
  }
  